
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital@0;1&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

.valid{
    border: 5px solid green !important;
}

.invalid{
    border: 5px solid red !important
}

body{
    background-color: #0b0c10;
}

.headerContent{
    width: 80%;
    height: 15vh;
    color: whitesmoke;
    /* background-color: rebeccapurple; */
    margin: 0 auto;
    margin-top: 5vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.headerContent > h1{
    font-size: 2rem;
    text-align: center;
}

.headerContent > p{
    font-size: 1.25rem;
    margin-top: 0.5rem;
    color: #66fcf1;
    text-align: center;
}

.pageBreak{
    width: 75%;
    height: 0.75rem;
    background-color: #f0f0f0;
    margin: 1em auto 1rem auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 4px solid #45A29E;
}

.pageBreakCircle{
    width: 6rem;
    height: 4rem;
    background-color: #0b0c10;
    border-radius: 50%;
    border: 1rem solid #0b0c10;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pageBreakInnerCircle{
    height: 1.5rem;
    width: 1.5rem;
    background-color: #66fcf1;
    border-radius: 50%;
}

.menu{
    height: 35vh;
    width: 75%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* background-color: red; */
}

.navItems{
    list-style: none;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.navItem{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 6vh;
    background: rgb(218,218,218);
    background: linear-gradient(32deg, rgba(218,218,218,1) 0%, rgba(224,224,224,1) 35%, rgba(255,255,255,1) 100%);
    border-radius: 1rem;
    font-size: 1.25rem;
    font-weight: bold;
    color: #45A29E;
    border: 4px solid #45A29E;
    border-top: none;
}

.navButton{
    border-radius: 1rem;
}

.navButton:hover{
    padding: 0.25rem 0.5rem;
    background-color: #45A29E;
    transition: 0.5s;
    color: #f0f0f0;
}

.aboutContainer, .contactContainer, .skillsContainer{
    width: 85%;
    height: 50vh;
    background: rgb(233,233,233);
    background: radial-gradient(circle, rgba(233,233,233,1) 0%, rgba(255,255,255,1) 67%, rgba(221,221,221,1) 100%);
    margin: 0 auto;
    margin-top: 1rem;
    border-radius: 1.25rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.acBox1, .acBox2{
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 65%;
    width: 100%;
    /* background-color: red; */
    justify-content: space-evenly;
    font-size: 0.8rem;
}

.acBox2{
    height: 30%;
    align-items: center;
}

.acImgCon{
    height: 100%;
    width: 50%;
    background-image: url("../images/aboutMe.jpg");
    background-size: cover;
    border-radius: 1rem;
}

.skillsContainer{
    flex-direction: column;
    justify-content: flex-start;
}

.scColumn1{
    min-width: 125px;
    width: 100%;
    height: 17.5%;
    background-color: #45A29E;
    border-radius: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-style: italic;
    font-weight: bold;
    font-size: 1rem;
    color: #f0f0f0;
    z-index: 10;
    border-bottom: 6px solid #f0f0f0;
}

.projectsTxt{
    border-radius: 1rem;
    margin-right: 0.5rem;
}

.skillsTxt{
    border-radius: 1rem;
    margin-left: 0.5rem;
}

.projectsTxt:hover, .skillsTxt:hover{
    padding: 0.75rem;
    background-color: #f0f0f0;
    color: #45A29E;
    transition: 0.5s;
}

.activeTab{
    padding: 1rem;
    background-color: #f0f0f0;
    color: #45A29E;
    transition: 0.5s;
}

.scColumn2{
    min-width: 125px;
    width: 92.5%;
    height: 12.5%;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    background-color: #363636;
    border-bottom: 6px solid #45A29E;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    transition: 1s;
    font-size: 0.75rem;
}

.scColumn2 > p{
    color: #f0f0f0;
    font-weight: bold;
    width: 30%;
    text-align: center;
    border-radius: 0.75rem;
    font-style: italic;
}

.scColumn2 > p:hover{
    padding: 0.5rem;
    color: #363636;
    background-color: #66fcf1;
    transition: 0.5s;
}

.activeTab2{
    padding: 0.5rem;
    color: #363636 !important;
    background-color: #66fcf1;
    transition: 0.5s;
}

.scContent{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    height: 62.5%;
    margin: 0 0.5rem;
    justify-content: space-between;
    align-items: center;
}

.scContent > p{
    color: #363636;
    font-size: 0.8rem;
    text-align: center;
    margin-top: 0.25rem;
    font-weight: bold;
    font-style: italic;
}

.skillsContentContainer{
    height: 90%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.skill{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.skill > h1 {
    font-size: 1rem;
}

.skill > p {
    font-size: 0.75rem;
}

.outerExpBar{
    width: 92.5%;
    height: 1.25rem;
    background-color: gray;
    margin: 0.5rem 0 0.25rem 0;
    border-radius: 1rem;
}

.expBar{
    height: 100%;
    background-color: #45A29E;
    border-radius: 1rem;
}

.contactContainer{
    flex-direction: column;
}

.contactCol1, .contactCol2{
    height: 70%;
    width: 97.5%;
    background: rgb(79,200,195);
    background: radial-gradient(circle, rgba(79,200,195,1) 0%, rgba(69,162,158,1) 44%, rgba(41,103,101,1) 100%);
    border-radius: 1rem;
    border-bottom: 4px solid #363636;
}

.contactCol1 > header, .contactCol2 > header {
    width: 100%;
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
}

header > h1{
    font-size: 1.25rem;
    font-weight: bold;
    text-align: center;
}

.emailContent, .cvContent{
    width: 97.5%;
    height: 85%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cvContent{
    height: 80%;
}

.contactCol2 > header {
    height: 20%;
}

.emailContent > p, .cvContent > p {
    width: 80%;
    margin: 0.25rem 0 0.25rem 0;
    text-align: center;
    align-self: center;
    font-size: 0.9rem;
}

.cvContent > p {
    color: #f0f0f0;
    margin: 0.5rem auto;
    font-size: 0.8rem;
}

.emailControls{
    width: 90%;
    margin: 0.75rem auto 0.75rem auto;
    display: flex;
    justify-content: space-around;
    align-items: center; 
}

#fromSender{
    width: 60%;
    height: 2.25rem;
    resize: none;
    outline: none;
    overflow: auto;
    border-radius: 0.75rem;
    font-size: 1rem;
    border-bottom: 4px solid #363636;
    color: #45A29E;
}

#sendBtn{
    outline: none;
    border: none;
    width: 35%;
    height: 2.25rem;
    border-radius: 0.75rem;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    font-size: 1.25rem;
    background-color: #363636;
    border-bottom: 4px solid #f0f0f0;
    color: #f0f0f0;
}

#sendBtn:hover{
    height: 3rem;
    width: 38%;
    transition: 0.5s;
    background-color: #45A29E;
    font-size: 1.5rem;
    color: #363636;
}

#message{
    width: 90%;
    height: 10rem;
    margin: 0.25rem auto 0 auto;
    outline: none;
    border: none;
    resize: none;
    border-radius: 1rem;
    padding: 0.5rem 0 0 0.5rem;
    border-bottom: 4px solid #363636;
    color: #45A29E;
}

.contactCol2{
    height: 27.5%;
    display: flex;
    flex-direction: column;
    background: rgb(82,82,82);
    background: radial-gradient(circle, rgba(82,82,82,1) 0%, rgba(54,54,54,1) 44%, rgba(28,28,28,1) 100%);
}

.contactCol2 > header {
    color: #f0f0f0;
    margin-top: 0.5rem;
}

.cvBtnContainer{
    width: 100%;
    height: 2.5rem;
}


#cvBtn{
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 2.25rem;
    outline: none;
    border: none;
    border-radius: 1rem;
    margin: 0 auto 0 auto;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    font-size: 0.8rem;
    background-color: #45A29E;
    color: #363636;
    border-bottom: 4px solid #f0f0f0;
}

#cvBtn:hover{
    height: 2.6rem;
    width: 77.5%;
    transition: 0.5s;
    background-color: #363636;
    font-size: 1.5rem;
    color: #f0f0f0;
}

@media screen and (min-width: 480px){
    
    .headerContent > h1{
        font-size: 2.5rem;
    }
    
    .headerContent > p{
        font-size: 1.5rem;
    }

    .acBox1{
        font-size: 1rem;
    }

    .cvContent{
        justify-content: space-evenly;
    } 

    
}


@media screen and (min-width: 740px){
    
    .headerContent > h1{
        font-size: 4.5rem;
    }
    
    .headerContent > p{
        font-size: 3rem;
    }
    
    .pageBreakCircle{
        width: 10rem;
    }
    
    .menu{
        margin-top: 2rem;
        width: 85%;
        height: 10vh;
        background-color: #f0f0f0;
        border-radius: 1.25rem;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        border-bottom: 3px solid #45A29E;
    }

    .navItems{
        list-style: none;
        width: 100%;
        height: 75%;
        /* background-color: cadetblue; */
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        font-style: italic;
        color: #45A29E;
        font-weight: bold;
    }

    .navDivider{
        margin: 0 1.5rem;
        min-width: 5px;
        height: 5rem;
        background-color: #45A29E;
        border-radius: 15%;
    }

    .navItem{
        display: flex;
        float: left;
        font-size: 2rem;
        align-items: center;
        text-align: center;
        border: none;
        background: none;
        color: #45A29E;
    }

    .navButton:hover{
        padding: 1.5rem;
    }

    .aboutContainer, .skillsContainer, .contactContainer{
        margin: 2rem auto;
    }
    
    .acBox1, .acBox2{
        font-size: 1.25rem;
    }

    .skillsContainer{
        flex-direction: row;
    }
    
    .scColumn1{
        height: 100%;
        width: 15%;
        flex-direction: column;
        font-size: 1.5rem;
    }

    .scColumn1 > p{
        margin: 1.5rem 0;
    }
    
    .scColumn2{
        height: 97.5%;
        width: 10%;
        flex-direction: column;
        font-size: 1rem;
        justify-content: center;
    }

    .scColumn2 > p:hover, .activeTab2{
        padding: 1.5rem 0.75rem;
    }
    
    .skillsTxt{
        border-radius: 1rem;
    }

    .scColumn2 > p {
        width: 90%;
        margin: 2rem 0;
    } 
    
    .scContent{
        height: 97.5%;
        margin: 2rem 1rem;
    }
    
    .scContent > p{
        font-size: 1.2rem;
    }
    
    .skillsContentContainer{
        height: 85%;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    }
    
    .skill{
        padding-left: 0.5rem;
    }
    
    .skill > h1 {
        font-size: 1.5rem;
    }

    .skill > p {
        font-size: 1rem;
    }
    
    .outerExpBar{
        height: 1.5rem;
    }

    .contactContainer{
        flex-direction: row;
    }

    .contactCol1, .contactCol2{
        height: 60%;
        width: 47.5%;
    }

    .emailContent > p{
        font-size: 1rem;
    }

    .cvContent, .cvContent > p{
        font-size: 1rem;
    }
}


@media screen and (min-width: 820px){
    
    .aboutContainer{
        flex-direction: row;
    }

    .acBox1, .acBox2{
        width: 45%;
        height: 97.5%;
        justify-content: space-evenly;
        font-size: 1.5rem;
    }
    
    .acBox2{
        align-items: center;
    }
    
    .acImgCon{
        width: 40vw;
        height: 40vw;
    }   
}

                                            /*---Desktop Styles---*/

@media screen and (min-width: 940px) {
    
    .headerContent > h1{
        font-size: 6rem;
    }
    
    .headerContent > p{
        font-size: 3.5rem;
        margin-top: 1rem;
    }

    .contactContainer{
        flex-direction: row;
    }

    .contactCol1, .contactCol2{
        height: 85%;
        width: 47.5%;
        align-items: center;
        text-align: center;
    }

    .emailContent > p, .cvContent > p {
        margin-top: 2rem;
        font-size: 1.25rem;
    }

    .cvContent > p {
        margin-bottom: 0.75rem;
    }

    .emailControls{
        margin: 2rem auto 0 auto;
    }

    #message{
        margin: 2rem auto 0 auto;
    }

    #cvBtn{
        width: 60%;
    }
}

